@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.displayBlock{
    display: inline-block;
}
.bigHeader {
    background-color: #fff;
    padding: 10px 40px;
}
  .boxcard {
    width: 1000px;
    margin:auto;
    align-items: center;
  }
.flex {
    display: flex;
    flex-wrap: wrap;
    
  }
.spaceBetween {
    justify-content: space-between;
  }
  
.alignCenter {
    align-items: center;
  }
  
.w100 {
    width: 100%;
  }

.gap {
    gap: 15px;
 }
    
  .fontColor {
    color: #FF6F61;
    font-family: "Josefin Sans", sans-serif;
  }
 .imgCard {
    height: 100%;
    width: 100%;
 }